<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>
                <assemblyIdentity name="Netca.Pki" publicKeyToken="0003c41bf1fddabf" />
                <bindingRedirect oldVersion="5.10.0.0" newVersion="5.11.0.0"/>
            </dependentAssembly>

        </assemblyBinding>
    </runtime>
</configuration>